@media screen and (max-width:767px){
    /* .mobile_web{
        background: url('../images/register_banner.png') no-repeat;
        background-size: 100% 100%;
        background-position: fixed;
        padding: 30px 0;
    } */
    /* .signup-banner{
        min-height: auto;
        margin-bottom: 40px;
    }
    .signup-banner img.img-fluid.mx-auto{
        max-width: 200px !important;
    } */
    .login_area{
        padding: 0 15px;
    }
    /* .sign_in-title{
        color: #fff;
        font-size: 20px;
    } */
    /* .register-form .form-label, .register-form .form-check-label, .forgot-password,
    .dont-have-account , .dont-have-account a{
        color: #fff;
    } */
    .dont-have-account a{
        border-bottom: 1px dotted #fff;
    }
    .dont-have-account{
        margin-bottom: 15px;
    }
    .form-control {
        padding: 8px 15px;
        border-radius: 5px;
    }
    /* .btn-primary.login_btn,
    .statement .btn{
        background: #fff;
        border-color:#fff;
        color: #000;
    } */
    .statement .otp-modal-title, .statement .resend-one-time-opt,
    .statement .small-text, .statement p{
        color: #fff;
    }
    .view_buttons .btn{
        font-size: 12px;
    }
    .details_listig_main_title{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .steps_content_title{
        margin-bottom: 15px;
    }
    .w-sm-100{
        width: 100% !important;
    }
    .w-sm-75{
        width: 75% !important;
    }
}
